/* box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* variables */
:root {
    --color-background: black;
    --color-text: lightgray;
    --color-text-inverse: var(--color-background);
    --color-background-inverse: var(--color-text);
    --color-link-header: white;
    --color-link: var(--color-text);
    --color-link-hover: black;
    --color-tag: gold;
    --size-font: 18px;
    --size-font-large: 18px;
    --size-font-0: 2.1rem;
    --size-font-1: 1.9rem;
    --size-font-2: 1.6rem;
    --size-font-3: 1.4rem;
    --size-font-4: 1.2rem;
    --size-font-5: 0.8rem;
    --size: 2rem;
    --size-container: 55rem;
    --size-container-text: 40rem;
    --img-max-height: 80vh;
}

/* animations */
@keyframes AppearSlow {
    0% {
	opacity: 0;
	transform: translate(-2%, -4%);
    }
    100%{
	opacity: 1;
	transform: translate(0, 0);
    }
}

/* resets */
body {
    margin: 0;
}
h1, h2, h3, p {
    margin-top: 0;
}
h2 {
    color: var(--color-tag)
}
h3 {
    color: var(--color-tag)
}

/* layout global defaults */
html,
body {
    min-height: 100vh;
}

html {
    font-family: serif;
    line-height: 1.9;
    font-size: var(--size-font);
    color: var(--color-text);
}

img {
    display: block;
    max-width: 100%;
}

/* typography */
a {
    color: var(--color-link);
    border-bottom: 0.2rem solid transparent;
}
a:hover {
    border-color: var(--color-link-hover);
}

/* site */
.Site {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;

    /* center */
    align-content: center;
    /* connot use, since breaks the v-scroll */
    /* justify-content: center; */
}

/* site header */
.Site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size);
    /* position: sticky; */
    /* top: 0; */
    z-index: 3;
    padding-top: var(--size);
}
@media (min-width: 40rem) {
    .Site-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
    }
}

/* site main */
.Site-main {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

/* site-title */
.Site-title {
    display: flex;
    margin-bottom: 0;
    font-size: var(--size-font);
    margin-right: var(--size);
    margin-left: var(--size);
    line-height: 1.2;
}
.Site-title a {
    color: var(--color-link-header);
    text-decoration: none;
    padding-left: calc(var(--size) / 3);
    padding-right: calc(var(--size) / 3);
    border-bottom: 0.2rem solid transparent;
}
.Site-title a:hover {
    border-color: var(--color-link-header);
}
@media (min-width: 40rem) {
    .Site-title {
	font-size: var(--size-font-1)
    }
}

/* navigation */
.Nav--main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Nav--main nav-item {
    font-size: var(--size-font-4);
}
.Nav--main nav-item a {
    color: var(--color-link-header);
    font-weight: bold;
    padding: 0.3rem;
    margin: 0.1rem 0.4rem;
    text-decoration: none;
    text-align: center;
    border-bottom: 0.2rem solid transparent;
}
.Nav--main nav-item a:hover {
    border-color: var(--color-link-header);
}

/* sections */
.Section {
    width: 100%;
}
.Container {
    max-width: var(--size-container);
}
.Container--full {
    max-width: 100%;
}
.Container--padding {
    padding-left: var(--size);
    padding-right: var(--size);
}

/* cards */
.Cards--list {
    margin-top: var(--size);
}
.Cards--home {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30rem;
    opacity: 1;
    transform: translate(0, 0);
    animation-name: AppearSlow;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
.Cards--grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}
.Cards--grid .Card {
    max-width: 15rem;
}
.Cards--grid .Card-link {
    flex-wrap: wrap;
}

/* card */
.Card {
    margin-bottom: var(--size);
}
.Card-link {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.9rem 0.9rem;
}
@media (min-width: 40rem) {
    .Card-link {
	flex-wrap: nowrap;
    }
}
.Card-link:hover {
    border-color: transparent;
}
.Card-link:hover .Card-title-span {
    border-color: white;
}
.Card-link:focus {
    border-color: var(--color-link-hover);
}
.Card-media {
    z-index: 0;
    max-width: calc(var(--size-container) / 7);
    transition: transform 200ms ease-in-out;
    transform-origin: right;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card-title {
    margin-bottom: 0;
}
.Card-title-span {
    border-bottom: 0.2rem solid transparent;
    transition: border-color 200ms ease-in-out 50ms;
}
.Card-content {
    z-index: 1;
    flex-grow: 1;
    flex-basis: 100%;
}
/* .Card-media + .Card-content { */
/*     margin-left: calc(var(--size) / 2); */
/* } */
.Card-footer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}
.Card-datePublished {
    font-size: var(--size-font-5);
    font-style: italic;
    margin-right: 0.5rem;
    font-weight: bold;
}

/* content */

.SiteMain img {
    max-height: var(--img-max-height);
}

/* Article */
.Article {
    width: 100%;
}
.Article-header {
    display: flex;
    flex-wrap: wrap;
    padding: var(--size);
    min-height: 65vh;
    align-items: flex-end;
}

/* article metas */
.Article-meta {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}
.Article-datePublished,
.Article-language {
    padding: 0.2rem 0.8rem;
    margin-left: 0.3rem;
}
.Article-title {
    padding: calc(var(--size) / 2);
}
.Article-title a {
    text-decoration: none;
    font-size: var(--size-font-1);
}

.Article-featuredImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center center;
    background-size: cover;
}
.Article-main {
    padding: var(--size) var(--size);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* article links */
.Article-main a {
    text-decoration: none;
    border-bottom: 0.1rem solid var(--color-text);
}

/* articles content */
.Article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* article titles and paragraph */
.Article-main h1,
.Article-main h2,
.Article-main h3,
.Article-main h4,
.Article-main h5 {
    max-width: calc(var(--size-container-text) * 1.3);
    width: 100%;
}
.Article-main p {
    max-width: var(--size-container-text);
    width: 100%;
}
.Article-main h1 {
    font-size: var(--size-font-0);
}
.Article-main h2 {
    font-size: var(--size-font-1);
}
.Article-main h3 {
    font-size: var(--size-font-2);
}
.Article-main h1 a,
.Article-main h2 a,
.Article-main h3 a,
.Article-main h4 a,
.Article-main h5 a {
    border-color: transparent;
}

/* articles blockquotes */
.Article-main blockquote {
    padding: calc(var(--size) / 2);
}
.Article-main blockquote p {
    margin-bottom: 0.5rem;
    font-style: italic;
    font-size: var(--size-font-3);
}

/* article media */
.Article-main img {
    max-height: 85vh;
    margin-bottom: var(--size);
    margin-top: var(--size);
}
.Article-main iframe {
    margin-bottom: calc(var(--size) * 2);
    margin-top: calc(var(--size) * 2);
    max-width: calc(var(--size-container-text));
    min-width: calc(var(--size-container-text) / 1.5);
    min-height: 40vh;
}
@media (min-width: 40rem) {
    .Article-main iframe {
	padding: var(--size);
	float: right;
    }
}

/* pages */
.Page-title {
    text-align: center;
}
.Page-title a {
    text-decoration: none;
    font-size: var(--size-font-1);
}

/* home */
.Home-featuredImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center center;
    background-size: cover;
}
