{{ define "main" }}
{{ range .Pages }}
<article class="Card">
    <a href="{{ .URL }}" class="Card-link">
	{{if .Params.image}}
	<img src="{{.Params.image}}" alt="{{.Title}}" class="Card-media" loading="lazy">
	{{end}}
	<h3 class="Card-title">{{ .Title }}</h3>
    </a>
</article>
{{ end }}
{{ end }}
