{{ define "main" }}
{{ $context := . }}

<!-- <section class="Section">
     <header class="Container">
     <h1>Latest articles</h1>
     </header>
     <main class="Container Container--full">
     {{ range $context.Site.Languages}}
     <aside>
     {{ $language := . }}
     {{ $languagePages := (where $context.Pages ".Params.language" (printf "%s" $language)) }}
     {{ if $languagePages }}
     <h2>{{ $language }}</h2>
     {{ range $languagePages }}
     <article class="Card">
     <a href="{{ .URL }}" class="Card-link">
     {{if .Params.image}}
     <div class="Card-media">
     <img src="{{.Params.image | relURL }}" alt="{{.Title}}" class="Card-image" loading="lazy">
     </div>
     {{end}}
     <div class="Card-content">
     <h3 class="Card-title">{{ .Title }}</h3>
     </div>
     </a>
     </article>
     {{ end }}
     {{ end }}
     </aside>
     {{ end }}
     </main>
     </section> -->

<section class="Section Container">
    <main class="Cards Cards--list">
	<!-- <h1>All Articles</h1> -->
	{{ range (sort .Pages ".Params.date_published" "desc") }}
	{{ partial "article-card" . }}
	{{ end }}
    </main>
</section>
{{ end }}
