{{ define "main" }}
{{ $context := . }}

<section class="Section Container">
    {{ if .Params.description}}
    <header class="Section-header">
	<h2 class="Section-title">{{.Title}}</h2>
	<div class="Section-description">{{.Params.description | markdownify }}</div>
    </header>
    {{ end }}
    <main class="Cards Cards--list">
	<!-- <h1>All Articles</h1> -->
	{{ range (sort .Pages ".Params.date_published" "desc") }}
	{{ partial "article-card" . }}
	{{ end }}
    </main>
</section>
{{ end }}
